<div>
   <!-- Kontroler jest nadawany w routerze -->
   <div ng-if="musicEventsWall.length === 0 && musicEventsLiked.length === 0 && musicEventsDisliked.length === 0" class="jumbotron">
      <p>Nie znaleźliśmy żadnych wydarzeń, które mogłyby Cię zainteresować. Przejdź do sekcji
         <strong>Profil</strong> aby spersonalizować swoje doświadczenie.<br>
         <div><a href="#!/ustawienia" class="btn btn-primary btn-large">Przejdź teraz...</a></div>
      </p>
   </div>
   <div class="row" ng-if="musicEventsWall.length > 0">
      <h1 class="main-title">Koncerty</h1>
   </div>
   <div class="row">
      <div ng-repeat="keyword in (musicEventsWall | retUniqKeywords)" class="ms-content">
         <div class="ms-cards-row">
            <div class="ms-cards-col">
               <div class="ms-section-title-card"><span>#{{keyword}}</span></div>
               <div class="ms-card" ng-repeat="musicEvent in musicEventsWall | byKeyword: keyword" ng-if="$odd">
                  <!-- zdjecie -->
                  <div>
                     <img style="width: 100%;" ng-src="{{musicEvent.storedEvent.imageUrl}}" alt="promo">
                  </div>
                  <!-- dolna czesc -->
                  <div class="ms-card-bottom">
                     <div class="item-title-box">
                        <span class="item-title">{{musicEvent.storedEvent.name}}</span>
                     </div>
                     <div class="date-place-box">
                        <!-- Data eventu -->
                        <!-- miejsce -->
                        <span ng-if="musicEvent.source.dates.start.localDate !== undefined">{{musicEvent.storedEvent.localDate
                           | date : "dd.MM.y"}} {{musicEvent.storedEvent.localTime}}</span>
                        <span ng-if="musicEvent.source.dates.start.localDate === undefined">Data: nie ogłoszono</span>
                        <span><strong>{{musicEvent.storedEvent.venueName}}</strong>,
                           {{musicEvent.storedEvent.venueAddress}}, {{musicEvent.storedEvent.venueCity}}</span>
                     </div>
                     <!-- ceny -->
                     <div class="price-box">
                        <span>Bilety od {{musicEvent.storedEvent.priceMin}} do {{musicEvent.storedEvent.priceMax}} {{musicEvent.storedEvent.currency}}</span>
                     </div>
                     <div>
                        <span>W sprzedaży od {{musicEvent.storedEvent.saleStartDate | date : "dd.MM.y"}} do
                           {{musicEvent.storedEvent.saleEndDate | date : "dd.MM.y"}}</span>
                        <a href="{{musicEvent.source.url}}">kup bilety</a>
                     </div>
                     <!-- przyciski -->
                     <div class="bottom-btns-box">
                        <button ng-click="addLiked(musicEvent.storedEvent.ticketmasterId)" class="btn btn-primary"><i class="fa fa-thumbs-up"
                              aria-hidden="true"></i></button>
                        <button ng-click="addDisliked(musicEvent.storedEvent.ticketmasterId)" class="btn btn-light"><i class="fa fa-thumbs-down"
                              aria-hidden="true"></i></button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="ms-cards-col">
               <div class="ms-card" ng-repeat="musicEvent in musicEventsWall | byKeyword: keyword" ng-if="$even">
                  <!-- zdjecie -->
                  <div>
                     <img style="width: 100%;" ng-repeat="image in musicEvent.source.images | imgMinWidth:1024 | limitTo:1"
                        ng-src="{{image.url}}" alt="promo">
                  </div>
                  <!-- dolna czesc -->
                  <div class="ms-card-bottom">
                     <div class="item-title-box">
                        <span class="item-title">{{musicEvent.source.name}}</span>
                     </div>
                     <div class="date-place-box">
                        <!-- Data eventu -->
                        <!-- miejsce -->
                        <span ng-if="musicEvent.source.dates.start.localDate !== undefined">{{musicEvent.source.dates.start.localDate
                           | date : "dd.MM.y"}}</span>
                        <span ng-if="musicEvent.source.dates.start.localDate === undefined">Data: nie ogłoszono</span>
                        <span ng-repeat="venue in musicEvent.source.embedded.venues"><strong>{{venue.name}}</strong>,
                           {{venue.city.name}}</span>
                     </div>
                     <!-- ceny -->
                     <div ng-repeat="price in musicEvent.source.priceRanges |limitTo:1" class="price-box">
                        <span>Bilety od {{price.min}} do {{price.max}} {{price.currency}}</span>
                     </div>
                     <div>
                        <span>W sprzedaży od {{musicEvent.source.sales.publicSale.startDateTime | date : "dd.MM.y"}} do
                           {{musicEvent.source.sales.publicSale.endDateTime | date : "dd.MM.y"}}</span>
                        <a href="{{musicEvent.source.url}}">kup bilety</a>
                     </div>
                     <!-- przyciski -->
                     <div class="bottom-btns-box">
                        <button ng-click="addLiked(musicEvent.ticketmasterId)" class="btn btn-primary"><i class="fa fa-thumbs-up"
                              aria-hidden="true"></i></button>
                        <button ng-click="addDisliked(musicEvent.ticketmasterId)" class="btn btn-light"><i class="fa fa-thumbs-down"
                              aria-hidden="true"></i></button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- nastepna strona -->
      <div class="more-btn-box">
         <button class="btn btn-primary btn-small" ng-if="musicEventsWallCurrentPageNumber < (musicEventsWallTotalPages - 1)"
            ng-click="getWallNextPage()">więcej...</button>
      </div>
   </div>
   <!-- stare -->
   <div>
      <h2 ng-if="musicEventsLiked.length > 0" class="main-title">Polubione koncerty</h2>
   </div>
   <div class="row ms-list-item" ng-repeat="musicEvent in musicEventsLiked">
      <div class="col-sm-3">
         <img class="ms-list-item-img" style="width: 100%;" ng-repeat="image in musicEvent.source.images | imgMinWidth:1024 | limitTo:1"
            ng-src="{{image.url}}" alt="promo">
      </div>
      <div class="col-sm-9 item-content">
         <div class="item-title">
            <span>{{musicEvent.source.name}}</span>
         </div>
         <div>
            <!-- Data eventu -->
            <span ng-if="musicEvent.source.dates.start.localDate !== undefined">Data:
               {{musicEvent.source.dates.start.localDate | date : "dd.MM.y"}}</span>
            <span ng-if="musicEvent.source.dates.start.localDate === undefined">Data: nie ogłoszono</span>
         </div>
         <!-- miejsce -->
         <div ng-repeat="venue in musicEvent.source.embedded.venues">
            <span>{{venue.name}}</span>, <span>{{venue.city.name}}</span>
         </div>
         <!-- ceny -->
         <div ng-repeat="price in musicEvent.source.priceRanges |limitTo:1">
            <span>od {{price.min}} do {{price.max}} {{price.currency}}</span>
         </div>
         <div>
            <span ng-if="musicEvent.source.sales.publicSale.startDateTime !== undefined">W sprzedaży od
               {{musicEvent.source.sales.publicSale.startDateTime | date : "dd.MM.y"}} do
               {{musicEvent.source.sales.publicSale.endDateTime | date : "dd.MM.y"}}</span>
            <span ng-if="musicEvent.source.sales.publicSale.startDateTime === undefined">Bilety niedostępne</span>
            <a ng-if="musicEvent.source.sales.publicSale.startDateTime !== undefined" href="{{musicEvent.source.url}}">kup
               bilety</a>
         </div>
         <!-- przyciski -->
         <div class="btn-box">
            <button class="btn btn-primary btn-small" ng-click="addToWallFromLiked($index)">Odlub</button>
         </div>
      </div>
   </div>
   <div class="more-btn-box">
      <button class="btn btn-primary btn-small" ng-if="musicEventsLikedCurrentPageNumber < (musicEventsLikedTotalPages - 1)"
         ng-click="getLikedNextPage()">więcej...</button>
   </div>
   <!-- znielubione koncerty -->
   <div>
      <h2 ng-if="musicEventsDisliked.length > 0" class="main-title">Koncerty, których nie lubisz</h2>
   </div>
   <div class="row ms-list-item" ng-repeat="musicEvent in musicEventsDisliked">
      <div class="col-sm-3">
         <img class="ms-list-item-img" style="width: 100%;" ng-repeat="image in musicEvent.source.images | imgMinWidth:1024 | limitTo:1"
            ng-src="{{image.url}}" alt="promo">
      </div>
      <div class="col-sm-9 item-content">
         <div class="item-title">
            <span>{{musicEvent.source.name}}</span>
         </div>
         <div>
            <!-- Data eventu -->
            <span ng-if="musicEvent.source.dates.start.localDate !== undefined">Data:
               {{musicEvent.source.dates.start.localDate | date : "dd.MM.y"}}</span>
            <span ng-if="musicEvent.source.dates.start.localDate === undefined">Data: nie ogłoszono</span>
         </div>
         <!-- miejsce -->
         <div ng-repeat="venue in musicEvent.source.embedded.venues">
            <span>{{venue.name}}</span>, <span>{{venue.city.name}}</span>
         </div>
         <!-- ceny -->
         <div ng-repeat="price in musicEvent.source.priceRanges |limitTo:1">
            <span>od {{price.min}} do {{price.max}} {{price.currency}}</span>
         </div>
         <div>
            <span ng-if="musicEvent.source.sales.publicSale.startDateTime !== undefined">W sprzedaży od
               {{musicEvent.source.sales.publicSale.startDateTime | date : "dd.MM.y"}} do
               {{musicEvent.source.sales.publicSale.endDateTime | date : "dd.MM.y"}}</span>
            <span ng-if="musicEvent.source.sales.publicSale.startDateTime === undefined">Bilety niedostępne</span>
            <a ng-if="musicEvent.source.sales.publicSale.startDateTime !== undefined" href="{{musicEvent.source.url}}">kup
               bilety</a>
         </div>
         <!-- przyciski -->
         <div class="btn-box">
            <button class="btn btn-primary btn-small" ng-click="addToWallFromDisliked($index)">Odlub</button>
         </div>
      </div>
   </div>
   <div class="more-btn-box">
      <button class="btn btn-primary btn-small" ng-if="musicEventsDislikedCurrentPageNumber < (musicEventsDislikedTotalPages - 1)"
         ng-click="getDislikedNextPage()">więcej...</button>
   </div>
   <!-- !znielubione koncerty -->
</div>